Schneider Edge box Decentlab TTN
[{"id":"4f984de0.4e0334","type":"mqtt in","z":"6a070b9c.66d3e4","name":"","topic":"decentlab1632020/devices/3054/up","qos":"2","broker":"975cf206.b3055","x":203,"y":90,"wires":[["eb39db9d.61e428","1dda5304.fe873d"]]},{"id":"eb39db9d.61e428","type":"debug","z":"6a070b9c.66d3e4","name":"","active":true,"console":"false","complete":"false","x":536,"y":92,"wires":[]},{"id":"74edf7a1.237918","type":"comment","z":"6a070b9c.66d3e4","name":"For MQTT \"user\"/\"password\", use \"Application ID\"/\"default key\" ","info":"\n1) Sign in to TTN and go to your application page where \"app_1\" is your \"Application ID\" e.g.\nhttps://console.thethingsnetwork.org/applications/app_1\n\n2) For MQTT User, use \"Application ID\" \n\n3) For MQTT password, scroll to bottom and use \"default key\" (you need to press the \"eye\" to see the long text)","x":304,"y":46,"wires":[]},{"id":"1dda5304.fe873d","type":"function","z":"6a070b9c.66d3e4","name":"Decrypt Payload","func":"// msg1 - Unencrypted\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_raw;\n\nreturn msg1;","outputs":1,"noerr":0,"x":289,"y":165,"wires":[["e1695710.dc24f8","2b6ed095.11ac8"]]},{"id":"e1695710.dc24f8","type":"debug","z":"6a070b9c.66d3e4","name":"msg.payload.payload_raw - DATA (as is)","active":true,"console":"false","complete":"payload","x":658,"y":171,"wires":[]},{"id":"ece9ba20.c896e8","type":"debug","z":"6a070b9c.66d3e4","name":"decoded","active":true,"console":false,"complete":"payload","x":414.00000762939453,"y":216.9999771118164,"wires":[]},{"id":"9c62e924.27a2e8","type":"function","z":"6a070b9c.66d3e4","name":"version","func":"var a={payload: msg.payload[0]};\nreturn a;","outputs":1,"noerr":0,"x":422.55554962158203,"y":258.0000047683716,"wires":[["51ca7d69.efb074"]]},{"id":"3770ec90.bf9ee4","type":"function","z":"6a070b9c.66d3e4","name":"device id","func":"msg.payload = msg.payload.readUInt16BE(1)\nreturn msg;\n","outputs":1,"noerr":0,"x":409.9443893432617,"y":296.33331394195557,"wires":[["f2d60110.f24d5"]]},{"id":"ec3e028e.6c674","type":"function","z":"6a070b9c.66d3e4","name":"battery voltage","func":"msg.payload = msg.payload.readUInt16BE(5)/1000\nreturn msg;\n","outputs":1,"noerr":0,"x":424.4999771118164,"y":374.8888473510742,"wires":[["5e8cb3fb.c2afac"]]},{"id":"253d71fd.c2a74e","type":"function","z":"6a070b9c.66d3e4","name":"flags","func":"msg.payload = msg.payload.readUInt16LE(3)\nreturn msg;\n","outputs":1,"noerr":0,"x":398.4999771118164,"y":335.6666793823242,"wires":[["140bc971.8e4f77"]]},{"id":"740679d.7fa0588","type":"function","z":"6a070b9c.66d3e4","name":"air temperature","func":"msg.payload = ((msg.payload.readUInt16BE(7))/65535)*175-45;\nreturn msg;\n","outputs":1,"noerr":0,"x":427.67449951171875,"y":415.5555419921875,"wires":[["561ca639.e1d738"]]},{"id":"1187de68.e42a92","type":"function","z":"6a070b9c.66d3e4","name":"air_humidity","func":"\nmsg.payload = ((msg.payload.readUInt16BE(9))/65535)*100;\nreturn msg;","outputs":1,"noerr":0,"x":413.0833206176758,"y":456.3611373901367,"wires":[["d63cdb28.80ee18"]]},{"id":"88bd473d.6d2df8","type":"function","z":"6a070b9c.66d3e4","name":"barometric_pressure","func":"\nmsg.payload = (msg.payload.readUInt16BE(11))*2;\nreturn msg;","outputs":1,"noerr":0,"x":441.0833206176758,"y":497.3611373901367,"wires":[["730ec7e6.eae6d8"]]},{"id":"dc14a88a.80e628","type":"function","z":"6a070b9c.66d3e4","name":"ambient_light_ch0","func":"\nmsg.payload = (msg.payload.readUInt16BE(13));\nreturn msg;","outputs":1,"noerr":0,"x":428.0833206176758,"y":534.3611373901367,"wires":[["55ceebe2.a37c64"]]},{"id":"f862ed59.9dee2","type":"function","z":"6a070b9c.66d3e4","name":"ambient_light_ch1","func":"\nmsg.payload = (msg.payload.readUInt16BE(15));\nreturn msg;","outputs":1,"noerr":0,"x":428.0833206176758,"y":576.3611373901367,"wires":[["c4f1a1c4.9e4bc"]]},{"id":"34cc6a22.3faf76","type":"function","z":"6a070b9c.66d3e4","name":"co2_concentration","func":"msg.payload = (msg.payload.readUInt16BE(17))-32768;\nreturn msg;","outputs":1,"noerr":0,"x":425.0833206176758,"y":614.3611373901367,"wires":[["7fc43822.eb1158"]]},{"id":"1677f1b6.9ba92e","type":"function","z":"6a070b9c.66d3e4","name":"co2_sensor_status","func":"msg.payload = msg.payload.readUInt16BE(19);\nreturn msg;","outputs":1,"noerr":0,"x":426.0833206176758,"y":651.3611373901367,"wires":[["44f8aa0f.bc4694"]]},{"id":"7c38eabd.8a87f4","type":"function","z":"6a070b9c.66d3e4","name":"Raw_IR_reading","func":"msg.payload = msg.payload.readUInt16BE(21);\nreturn msg;","outputs":1,"noerr":0,"x":424.0833206176758,"y":688.3611373901367,"wires":[["bdafc70d.68e188"]]},{"id":"af740f8a.c6cf6","type":"function","z":"6a070b9c.66d3e4","name":"PIR_activity_counter","func":"msg.payload = msg.payload.readUInt16BE(23);\nreturn msg;","outputs":1,"noerr":0,"x":431.0833206176758,"y":726.3611373901367,"wires":[["17781fdd.46a49"]]},{"id":"ce04623a.c3d8a","type":"function","z":"6a070b9c.66d3e4","name":"Gas_sensor_total_VOC","func":"msg.payload = msg.payload.readUInt16BE(25);\nreturn msg;","outputs":1,"noerr":0,"x":437.0833206176758,"y":765.3611497879028,"wires":[["1e7fe76a.3255b9"]]},{"id":"2b6ed095.11ac8","type":"function","z":"6a070b9c.66d3e4","name":"Base64 decoder","func":"var b= new Buffer(msg.payload, 'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":173,"y":265,"wires":[["ece9ba20.c896e8","9c62e924.27a2e8","3770ec90.bf9ee4","253d71fd.c2a74e","ec3e028e.6c674","740679d.7fa0588","1187de68.e42a92","88bd473d.6d2df8","dc14a88a.80e628","f862ed59.9dee2","34cc6a22.3faf76","1677f1b6.9ba92e","7c38eabd.8a87f4","af740f8a.c6cf6","ce04623a.c3d8a"]]},{"id":"51ca7d69.efb074","type":"debug","z":"6a070b9c.66d3e4","name":"version","active":true,"console":false,"complete":"payload","x":649.0000610351562,"y":256,"wires":[]},{"id":"f2d60110.f24d5","type":"debug","z":"6a070b9c.66d3e4","name":"device id","active":true,"console":false,"complete":"payload","x":650.5555419921875,"y":294.2222595214844,"wires":[]},{"id":"5e8cb3fb.c2afac","type":"debug","z":"6a070b9c.66d3e4","name":"battery voltage","active":true,"console":false,"complete":"payload","x":672.1111450195312,"y":371.5555419921875,"wires":[]},{"id":"140bc971.8e4f77","type":"debug","z":"6a070b9c.66d3e4","name":"flags","active":true,"console":false,"complete":"payload","x":641.111083984375,"y":333.4444885253906,"wires":[]},{"id":"561ca639.e1d738","type":"debug","z":"6a070b9c.66d3e4","name":"air temperature","active":true,"console":false,"complete":"payload","x":669.3333129882812,"y":412.2222900390625,"wires":[]},{"id":"d63cdb28.80ee18","type":"debug","z":"6a070b9c.66d3e4","name":"air humidity","active":true,"console":false,"complete":"payload","x":657.138916015625,"y":454.25006103515625,"wires":[]},{"id":"730ec7e6.eae6d8","type":"debug","z":"6a070b9c.66d3e4","name":"barometric_pressure","active":true,"console":false,"complete":"payload","x":686.138916015625,"y":492.25006103515625,"wires":[]},{"id":"55ceebe2.a37c64","type":"debug","z":"6a070b9c.66d3e4","name":"ambient_light_ch0","active":true,"console":false,"complete":"payload","x":673.138916015625,"y":530.2500610351562,"wires":[]},{"id":"c4f1a1c4.9e4bc","type":"debug","z":"6a070b9c.66d3e4","name":"ambient_light_ch1","active":true,"console":false,"complete":"payload","x":668.138916015625,"y":572.2500610351562,"wires":[]},{"id":"7fc43822.eb1158","type":"debug","z":"6a070b9c.66d3e4","name":"co2_concentration","active":true,"console":false,"complete":"payload","x":665.138916015625,"y":610.2500610351562,"wires":[]},{"id":"44f8aa0f.bc4694","type":"debug","z":"6a070b9c.66d3e4","name":"co2_sensor_status","active":true,"console":false,"complete":"payload","x":660.138916015625,"y":647.2500610351562,"wires":[]},{"id":"bdafc70d.68e188","type":"debug","z":"6a070b9c.66d3e4","name":"Raw_IR_reading","active":true,"console":false,"complete":"payload","x":662.138916015625,"y":684.2500610351562,"wires":[]},{"id":"17781fdd.46a49","type":"debug","z":"6a070b9c.66d3e4","name":"PIR_activity_counter","active":true,"console":false,"complete":"payload","x":673.138916015625,"y":722.2500610351562,"wires":[]},{"id":"1e7fe76a.3255b9","type":"debug","z":"6a070b9c.66d3e4","name":"Gas_sensor_total_VOC","active":true,"console":false,"complete":"payload","x":682.138916015625,"y":764.2500734329224,"wires":[]},{"id":"975cf206.b3055","type":"mqtt-broker","z":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
